<div class='panel'>
  <h1 class='panel-heading'>Your Campaigns</h1>
  {{#each model as |campaign|}}
    {{#link-to 'authenticated.campaign' campaign class='panel-block'}}
      {{campaign.title}}
    {{/link-to}}
  {{/each}}
</div>
