<div class='box campaign-form'>
  <form class='field' {{action 'createCampaign' on='submit'}}>
    <div class='field'>
      <label class='label' for='title'>Title</label>
      <div class='control'>
        {{input id='title' class='input' placeholder="Enter your campaign's title" value=title}}
      </div>
    </div>

    <div class='field'>
      <label class='label' for='title'>Description</label>
      <div class='control'>
        {{input id='description' class='input' placeholder="Enter your campaign's description" value=description}}
      </div>
    </div>

    <button class='button is-primary' type='button' name='button'>submit</button>
  </form>
</div>
