<div class='field' data-test-form={{field}}>
  <label class='label' for={{field}}>{{label}}</label>
  <div class='control'>
    {{input id=field class='input' type=type placeholder=placeholder value=value}}
  </div>
</div>
