<div class='field' data-test-form='username'>
  <label class='label' for='username'>Username</label>
  <div class='control'>
    {{input id='username' class='input' placeholder='Enter your username' value=username}}
  </div>
</div>
